<p>
  <strong>
    Title:<%= @blog.title %>
  </strong>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<h1>Listing entries</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  </thead>
  <tbody>
  <% @blog.entries.each do |entry| %>
    <tr>
      <td><%= entry.title %></td>
      <td><%= entry.body %></td>
      <td><%= link_to 'Show',entry_path(entry) %></td>
      <td><%= link_to 'Edit',edit_entry_path(entry) %></td>
      <td><%= link_to 'Destroy',entry,method: :delete ,data:{ confirm: "You sure?"} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry',new_entry_path %>

