<%= form_for [blog,entry] do |f| %>
  <%= render 'shared/form_error',object: entry %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>